:root {
    --base: #57fff4;
    --spacing: 10px;
    --blur: 0px;
}

.language-color {
    color: var(--base);
}

.target-image {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

/* General styles */

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}

